<body>
    <h1 class="title">
        Aircomp
      </h1>
      <nav  class="menu" >
        <a style="color: black;" href="planes">Planes </a>
        <a style="color: black;" href="tickets">Tickets </a>
        <a style="color: black;" href="routes"> Routes </a>
      </nav>
<div class="container">
    <mat-card class="card">
        <h1 class="title1">
            Plane Details
        </h1>
        <p>
            Id: {{ plane.id }}
        </p>
        <p>
            Name: {{ plane.name }}
        </p>
    </mat-card>
</div>
</body>
